.carrusel-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.carrusel {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  background-color: rgba(58, 59, 60, 0.115);
  position: relative;
  border: solid;
  border-radius: 0.5rem;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  align-items: center;
  padding-left: 50%;
  padding-right: 50%;
  box-sizing: content-box;
}

.slider-card {
  flex-shrink: 0;
  width: fit-content;
  padding: 2rem;
  filter: blur(2px);
}

img {
  width: clamp(100px, 25vw, 150px);
  height: clamp(100px, 25vw, 150px);
  object-fit: contain;
}

.active {
  scale: 1.2;
  transition: scale 300ms ease-in-out;
  filter: none;
}

.nav-btn {
  all: unset;
  height: fit-content;
  padding: 0.75rem;
  margin: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.361);
  cursor: pointer;
  z-index: 10;
  border: solid;
  border-color: black;
}

.table-container {
  max-width: 70%;
  border: solid;
  border-top: none;
  margin: 0 auto;
  border-radius: 0 0 0.5rem 0.5rem;
}

@media (max-width: 768px) {
  .table-container {
    border: none;
    border-radius: 0;
  }
}

.track-table-wrapper {
  max-width: 600px;
  margin: 0 auto 2rem auto;
  padding: 0.75rem;
}

.track-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-top: 1rem;
}

.track-table th,
.track-table td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
}

.track-table thead {
  background-color: #f4f4f4;
}

.track-table tbody tr:nth-child(even) {
  background-color: #fafafa;
}
