.carrusel {
  width: 100%;
  height: 100%;
  position: relative;
  background: red;
}

.slider {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: "40px";
}

img {
  flex-grow: 0;
  flex-shrink: 0;
  height: 400px;
  width: auto;
  object-fit: contain;
}

/* .slider-card {
  text-align: center;
  padding: 2rem;
}

.nav-btn {
  height: fit-content;
  background: gray;
} */
